<div id="<%= dom_id dossier %>">
  <p>
    <strong>Titre:</strong>
    <%= dossier.titre %>
  </p>

  <p>
    <strong>Categorie:</strong>
    <%= dossier.categorie %>
  </p>

  <p>
    <strong>User:</strong>
    <%= dossier.user_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= dossier.status %>
  </p>

</div>
