<!DOCTYPE html>
<html>
  <head>
    <title>Signalement</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <header>
       <%= image_tag 'logo.png', alt: 'Logo Signalement' , class: 'header_logo'%>
       <%= image_tag 'nomImage.png', alt: 'Image Signalement', class: 'header_nom_image'%>
    </header>
    
    <%= yield %>

    <footer>
      <a href='path/to/mentionlegal' >mentions légales</a>
      <a href="mailto:contact@signalement.app">contact@signalement.app</a>
    </footer>
  </body>
</html>
